<h1 mat-dialog-title>Menu</h1>
<div mat-dialog-content class="menu-container">
    <mat-action-list>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Save </button>
        <button mat-list-item (click)="openItem($event)"> Undo </button>
    </mat-action-list>
</div>